@model IEnumerable<TechnicoWebApi.Dtos.RepairDto>

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>On-going Repairs</h1>


@if (Model == null || !Model.Any())
{
    <p>No Ongoing Repairs found.</p>
}
else
{
    
    <table class="table">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Scheduled Repair
                </th>
                <th>
                    Repair Type
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    Repair Status
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cost)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ScheduledRepair)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RepairType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RepairStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}