@model IEnumerable<TechnicoWebApi.Dtos.OwnerResponseDto>

@{
    ViewData["Title"] = "Owner";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Owners</h1>

<p>
    <a asp-action="CreateOwner">Create New Owner</a>
</p>
<p>
    <a asp-action="IndexOwners" class="btn btn-dark">Reset</a>
</p>
<form asp-action="SearchOwner" method="post">
    <div>
        <label for="vat">VAT Number:</label>
        <input type="text" id="vat" name="vat" class="form-control" />
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary mt-4">Search</button>
    <p><div asp-validation-summary="ModelOnly" class="text-danger"></div></p>
</form>

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VAT)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OwnerType)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

        @foreach (var item in Model) 
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VAT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerType)
                </td>
                <td>
                    <a asp-action="EditOwner" asp-route-id="@item.Id">Edit</a> |
                </td>
            </tr>
        }
        </tbody>
    </table>
}
