
@model IEnumerable<TechnicoWebApi.Dtos.PropertyDto>


@{
    ViewData["Title"] = "Properties";
    var ownerType = SessionClass.ownerType;
}

<h1>Properties</h1>

<p>
    <a asp-action="CreateProperty" class="btn btn-success" style="float: right;">Create New Property</a>
</p>

@{
    if (ownerType == OwnerType.Admin)
    {
        <form asp-action="SearchProperty" method="post">
            <p><i>Insert either or both fields to search for a property.</i></p>
            <div>
                <label for="propertyId">Property ID:</label>
                <input type="number" id="propertyId" name="PropertyId" class="form-control" />
            </div>
            <div>
                <label for="vatNumber">VAT Number:</label>
                <input type="text" id="vatNumber" name="VatNumber" class="form-control" />
            </div>
            <div>
                <button type="submit" class="btn btn-primary mt-4 me-2">Search</button>
                <a asp-action="IndexProperties" class="btn btn-dark mt-4">Reset</a>
            </div>
            <p><div asp-validation-summary="ModelOnly" class="text-danger"></div></p>
        </form>
    }
}

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>
                    Identification Number
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    Construction Year
                </th>
                <th>
                    Property Type
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdentificationNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ConstructionYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PropertyType)
                    </td>
                    <td>
                        <a asp-action="EditProperty" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="DeleteProperty" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
