
@model IEnumerable<TechnicoWebApi.Dtos.RepairDto>

@{
    ViewData["Title"] = "Repairs";
    var ownerType = SessionClass.ownerType;
}

<h1>Repairs</h1>

<p>
    <a asp-action="CreateRepair" class="btn btn-success" style="float: right;">Create New Repair</a>
</p>

@{
    if (ownerType == OwnerType.Admin)
    {
        <form asp-action="SearchRepair" method="post">
            <p><i>Insert one or all fields to search for a repair.</i></p>
            <div>
                <label for="startDate">Start Date:</label>
                <input type="date" id="startDate" name="startDate" class="form-control"  />
            </div>
            <div>
                <label for="endDate">End Date:</label>
                <input type="date" id="endDate" name="endDate" class="form-control"   />
            </div>
            <div>
                <label for="ownerId">Owner ID:</label>
                <input type="number" id="ownerId" name="ownerId" class="form-control"  />
            </div>
            <div>
                <button type="submit" class="btn btn-primary mt-4 me-2">Search</button>
                <a asp-action="IndexRepairs" class="btn btn-dark mt-4">Reset</a>
            </div>
            <p><div asp-validation-summary="ModelOnly" class="text-danger"></div></p>
        </form>
    }
}

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>
                    Scheduled Repair
                </th>
                <th>
                    Repair Type
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    Repair Status
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cost)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ScheduledRepair)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RepairType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RepairStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                    <td>
                        <a asp-action="EditRepair" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="DeleteRepair" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
