@using Technico.Session
@using TechnicoWebApi.Models
@using static TechnicoWebApi.Models.OwnerType

@model IEnumerable<TechnicoWebApi.Dtos.RepairDto>

@{
    ViewData["Title"] = "Index";
    var ownerType = SessionClass.ownerType;
}

<h1>Index</h1>
<p>
    <a asp-action="CreateRepair">Create New</a>
</p>
@{
    if (ownerType == OwnerType.Admin)
    {
        <form asp-action="SearchRepair" method="post">
            <div class="form-group">
                <label for="startDate">Start Date:</label>
                <input type="date" id="startDate" name="startDate" class="form-control"  />
            </div>
            <div class="form-group">
                <label for="endDate">End Date:</label>
                <input type="date" id="endDate" name="endDate" class="form-control"   />
            </div>
            <p>OR</p>
            <div class="form-group">
                <label for="ownerId">Owner ID:</label>
                <input type="number" id="ownerId" name="ownerId" class="form-control"  />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    }}

@if (Model == null || !Model.Any())
{
    <p>No Repairs found.</p>
}
else
{

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>
                    @Html.DisplayNameFor(model => model.ScheduledRepair)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RepairType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RepairStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cost)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ScheduledRepair)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RepairType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RepairStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                    <td>
                        <a asp-action="EditRepair" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="DeleteRepair" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}